---
// src/components/EnterAnimation/LineSlide.astro
---
<style>
  .enter-line {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3px;
    background: var(--link-color, #fb7299);
    z-index: 9999;
    animation: lineGrow 1s ease forwards;
    transform-origin: left center;
    transform: scaleX(0);
  }
  .page-content {
    opacity: 0;
    animation: contentFade 0.8s ease forwards 0.6s;
  }

  @keyframes lineGrow {
    to {
      transform: scaleX(1);
    }
  }
  @keyframes contentFade {
    to {
      opacity: 1;
    }
  }
</style>

<div class="enter-line"></div>
<div class="page-content">
  <slot />
</div>